<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">

            
        </ul>
    </div>
</nav>

<div class="row">
    <br /><br />
    @Html.ActionLink("Página Inicial", "Index", "Home")
</div>