
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Individuo", "Index","Individuo") |
    @Html.ActionLink("Domicilio", "Index", "Domicilio") |
    @Html.ActionLink("Area", "Index", "Area")
</p>

